:root {
  --theme_color: #ffffff;
}

#comp-model {
  width: 100vw;
  height: 100vh;
}

#landing-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  backdrop-filter: blur(10px);
  /* background: url('./assets/back.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
  background-position: center; */
}

#landing-head {
  width: 100%;
  text-align: center;
  margin: 5px;
}

#landing-head-drishti {
  font-family: 'Mountains of Christmas', cursive;
  color: #fff59d;
  font-size: 7em;
  letter-spacing: 0.5ch;
}

#landing-head-exhb {
  font-family: 'Fredericka the Great', cursive;
  font-size: 5em;
  color: rgb(255, 255, 255);
}

#landing-button {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

#landing-button button {
  margin: 15px;
  padding: 10px;
  width: 120px;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--theme_color);
  /* border-radius: 50px; */
  background: #000000;
}

#landing-instructions {
  background-color: rgba(255, 255, 255, 0.05);
  margin: 5px;
  width: 100%;
  text-align: center;
  padding: 5px 0px 5px 0px;
  color: var(--theme_color);
  backdrop-filter: blur(5px);
}

#landing-instructions div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-instructions div p {
  margin: 2px;
  word-spacing: 0.2em;
  letter-spacing: -0.01em;
}

#landing-instructions div svg {
  margin: 2px;
  fill: var(--theme_color);
}

#landing-button button:hover {
  border: 2px solid #fff59d;
}

#landing-toggle {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 10px;
  margin: 10px;
}

#landing-toggle svg {
  fill: white;
  width: 30px;
  height: 30px;
}

#parent-container {
  position: absolute;
  z-index: 10;
  bottom: 0;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  color: white;
}

#music-controls {
  position: absolute;
  left: 0;
  top: 0;
  margin: 5px;
  z-index: 11;
}

#music-controls button {
  display: inline-flex;
  align-items: center;
  padding: 1em;
  height: 50px;
  font-size: smaller;
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.25);
  color: #ffffff;
  border: none;
  border-radius: 50px; 
  font-family: 'Josefin Sans', sans-serif;
}

#music-controls svg {
  margin: 10px;
  fill: #ffffff;
  width: 20px;
}

.movement-text-small {
  text-align: center;
  width: 100%;
  font-size: smaller;
}

.child-container-helper {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.child-container-movement {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.grand-child-helper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.grand-child-movement {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.movement-keys {
  height: 30px;
  width: 30px;
  border: solid 2.5px white;
  padding: 15px;
  margin: 2.5px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  backdrop-filter: blur(5px);
}

.movement-keys-small {
  height: 30px;
  width: 30px;
  border: solid 2.5px white;
  padding: 8px;
  margin: 12px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  backdrop-filter: blur(5px);
}

.helper-icons {
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  border: solid 2.5px white;
  padding: 15px;
  margin: 5px;
  font-weight: bolder;
  justify-content: center;
  border-radius: 6px;
  backdrop-filter: blur(5px);
}

.helper-text-small {
  font-size: smaller;
}

#mobile-controls {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mobile-controls button {
  height: 30px;
  width: 30px;
  margin: 0.5em;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 6px;
  background: none;
  backdrop-filter: blur(5px);
}

#mobile-controls svg {
  fill: white;
  pointer-events: none;
}

#mobile-controls span {
  color: #ffffff;
  font-size: 1em;
  font-weight: bolder;
}

@media screen and (max-width: 700px) {
  #landing-head-drishti {
    font-size: 5em;
  }

  #landing-head-exhb {
    font-size: 3em;
  }

  #landing-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  #landing-button button {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  #landing-head-drishti {
    font-size: 3.5em;
  }

  #landing-head-exhb {
    font-size: 2em;
  }

  #landing-instructions div p {
    font-size: small;
  }

  #landing-instructions div svg {
    transform: scale(0.5);
  }
}